@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(210 40% 96.1%);
    color: hsl(222.2 84% 4.9%);
  }
}
